/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* /RESET */
/* COMAND */
html{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
}
body{
    background-color: #eeebeb
}
/* /COMAND */
/* UTILITY */
.bg{
    background-color: #ffffff;
}
 .entity{
    display: inline-block;
    line-height: 1rem;
    width: 1rem;
    border-radius: 50%;
    text-align: center;
    border: 1px solid;
    margin-right: 15px;
 }
 .simbol{
    display: inline-block;
    margin-right: 5px;
 }
 .right{
    color: #008000;
    border-color: #008000;
}
.wrong{
    color: #ff0000;
    border-color: #ff0000;
}
.block{
    display: inline-block;
    line-height: 1.5rem;
    width: 60px;
    font-size: 0.7rem;
    border-radius: 30px;
    text-align: center;
    color: #ffffff;
}
/* /UTILITY */

/* HEADER */
#tobolist{
    display: inline-block;
    font-size: 3rem;
    line-height: 60px;
    vertical-align: middle;
}

#logo_image{
    vertical-align: middle;
}
header{
    padding: 10px;
}
/* /HEADER */
/* MAIN */
/* section1 */
.container{
    width: 60%;
    margin: auto;
    margin-top: 30px;
}
#main_button1{
    background-color: #0099ff;
    color: #ffffff;
    width: 5rem;
    height: 2rem;
    border-style: none;
    border-radius: 10px;
    margin-left: 30px;
    vertical-align: middle;
}
#main_button2{
    color: #d3d3d3;
    height: 2rem;
    width: 6rem;
    border: 2px #d3d3d3 solid;
    border-radius: 10px;

}
main .div_main {
    line-height: 50px;
    height: 50px;
    border-bottom:  1px #d3d3d3 solid;
}
/* /section1 */
/* section2 */
.contained{
    padding: 30px;
}
 main .list_item{
    line-height: 35px;
    list-style-type: none;
    margin-bottom: 20px;
}
.editorial{
    background-color: #0099ff;
}
.q1goals{
    background-color: #682368;
}
.recruiting{
    background-color: #00ffff;
}
.mobile{
    background-color: #ffa500;
}
.website{
    background-color: #ee41ee;
}
.sales{
    background-color: #67b367;
}
/* /section2 */
/* /MAIN */