/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* /RESET */

/* COMAND */
html{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
}
body{
    background-color: #d3d3d3;
}
.contained{
    padding: 30px; 
}
.list_item{
    line-height: 30px;
    list-style-type: none;
}
.bg{
    background-color: #ffffff;
}
/* /COMAND */

/* HEADER */
#tobolist{
    display: inline-block;
    font-size: 3rem;
    line-height: 60px;
    vertical-align: middle;
}

#logo_image{
    vertical-align: middle;
}
header{
    padding: 10px;
}
/* /HEADER */
/* MAIN */
/* section1 */
.container{
    width: 60%;
    margin: auto;
    margin-top: 30px;
}
#main_button1{
    background-color: #0099ff;
    width: 5rem;
    height: 2rem;
    border-style: none;
    border-radius: 10%;
    margin-left: 30px;
    vertical-align: middle;
}
#main_button2{
    color: #d3d3d3;
    height: 2rem;
    width: 6rem;
    border: 2px #d3d3d3 solid;
    border-radius: 10%;
    
}
.div_main {
    line-height: 50px;
    height: 50px;
    border-bottom:  1px #d3d3d3 solid;
}
/* /sectio1 */
/* /MAIN */